@font-face {
    font-family: 'MeteoconsRegular';
    src: url('../img/meteocons-webfont.woff') format('woff');
	src: url('../img/meteocons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon {
font-family: 'MeteoconsRegular';
font-size:70px;
}
body,html{
	height:100%;
	margin: 0;
}

div.arrow-left {
	position: absolute;
	width:0px; 
	height:0px; 
	border-bottom:60px solid transparent;  /* left arrow slant 밑의 중심에서 끌까지의 길이*/
	border-top:60px solid transparent; /* right arrow slant */
	border-right:60px solid #2f2f2f; /* bottom, add background color here 높이*/
	font-size:0px;
	line-height:0px;
	-webkit-transform:rotate(45deg);	
	z-index: 13;
}
div.shadow-left {
	position: absolute;
	width:35%; 
	background-color: aqua;
	z-index: 10;
	border: 5px solid rgba(255,255,255,0.5);	
	margin-top: -5px;
	margin-left: -5px;
	
}


.dateContainer.leftCorner {
	z-index: 15;	
}
.dateContainer {
	position: absolute;
	top:0px;
	width: 40%;
	text-shadow: 0 0 0.2em rgba(0,0,0,0.7);
	font-size: 30px;
}

.rightCorner{
	right:0px;
	text-align: right;
}
.rightCorner p{
	margin-right: 10px;
	margin-top:5px;
}

.leftCorner{
	left:0px;
	text-align: left;
}
.leftCorner p{
	margin-left: 10px;
	margin-top:5px;
}


.weatherInfoContainer {
	position: absolute;
	width: 60%;
	height: 60%;
	overflow: hidden;
	top:16%;
	left: 50%;
	margin-left: -30%;
}
.weatherIcon {
	display:inline-block;
	text-align: center;
	position: absolute;
	top: 0px;	
	height: 60%;
	width:100%;
}

.weatherIcon .big{
font-size: 200px;
margin-top: -100px;
text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
}
.degreeContainer{
	position: absolute;
	bottom: 20%;
	height: 20%;
	width:100%;
	text-align: center;
	font-size:50px;
	text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);

}
.rainPercent{
	position: absolute;
	width:100%;
	bottom: 11%;
	height: 10%;	
	text-align: center;
	
	
}



.wind{
	position: absolute;
	width:100%;
	bottom: 1%;
	height: 10%;
	text-align: center;


}	


.pageContainer {
	width: 100%;
}

.weatherPage {
	color: white;
	overflow: hidden;	
	background-color: rgba(65,49,168,1);;
}
#presentPage {
	background-color: rgb(240,210,0);

}
.invisiblePage {
	display:none;
}
.controlContainer {
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
	background-color: aqua;
}


	.dateContainer.leftCorner>p,.dateContainer.rightCorner>p{
		font-size: 27px;
	}
	span.icon.big {
		font-size: 140px;
	}
	span.degree {
		font-size: 50px;
	}
	div.rainPercent span, div.wind span {
		font-size: 23px;
	}
	div.rainPercent img,div.wind img {
		height: 18px;
	}
	div.controlContainer {
		background-color: blue;
	}
